<div class="popup-overlay" *ngIf="data.probability">
  <div class="popup-container">
    <h3>Bid Converted Probability</h3>
    <div class="progress-bar">
      <div class="progress-false" [style.width]="data.probability + '%'"></div>
    </div>
    <div class="probability-text">{{ data.probability }}%</div>
    <div>
      <button class="btn btn-primary" (click)="closeDialog()">Ok</button>
    </div>
  </div>
</div>
<div class="popup-overlay" *ngIf="data.trueProbability">
  <div class="popup-container">
    <h3>Bid Converted Probability</h3>
    <div class="progress-bar">
      <div class="progress" [style.width]="data.trueProbability + '%'"></div>
    </div>
    <div class="probability-text">{{ data.trueProbability }}%</div>
    <div>
      <button class="btn btn-primary" (click)="closeDialog()">Ok</button>
    </div>
  </div>
</div>