<div>
    <table mat-table [dataSource]="apiData.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)"
        class="mat-elevation-z8">

        <ng-container matColumnDef="serialNo">
            <th mat-header-cell *matHeaderCellDef> S. No. </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 + pageIndex * pageSize }} </td>
        </ng-container>

        <ng-container matColumnDef="Bid Type Encoded">
            <th mat-header-cell *matHeaderCellDef> Bid Type Encoded </th>
            <td mat-cell *matCellDef="let row"> {{ row["Bid Type Encoded"] }} </td>
        </ng-container>

        <ng-container matColumnDef="Boosted Encoded">
            <th mat-header-cell *matHeaderCellDef> Boosted Encoded </th>
            <td mat-cell *matCellDef="let row"> {{ row["Boosted Encoded"] }} </td>
        </ng-container>

        <ng-container matColumnDef="Budget Normalized">
            <th mat-header-cell *matHeaderCellDef> Budget Normalized </th>
            <td mat-cell *matCellDef="let row"> {{ row["Budget Normalized"] }} </td>
        </ng-container>

        <ng-container matColumnDef="Probability (%)">
            <th mat-header-cell *matHeaderCellDef> Probability (%) </th>
            <td mat-cell *matCellDef="let row"> {{ row["Probability (%)"] }}% </td>
        </ng-container>

        <ng-container matColumnDef="Year">
            <th mat-header-cell *matHeaderCellDef>Month/Year </th>
            <td mat-cell *matCellDef="let row"> {{ row["Month"] }}/{{ row["Year"] }} </td>
        </ng-container>

        <!-- Table headers and rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    <mat-paginator [length]="dataCount" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="pageEvent($event)">
    </mat-paginator>
</div>