<form [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-sm">

    <!-- Sheet Fields -->
    <div class="row g-3 mb-3">
        <div class="col-md-12">
            <label for="sheet_url" class="form-label">Sheet Url</label>
            <input type="text" id="sheet_url" class="form-control" formControlName="sheet_url" />
            <div *ngIf="submitted && f.sheet_url.invalid" class="text-danger">
                <small *ngIf="f.sheet_url.errors?.required">Sheet Url is required.</small>
            </div>
        </div>
    </div>
    <div *ngIf="errorMessage" class="error-message mb-3">
        {{ errorMessage }}
    </div>      
      
    <!-- Submit Button -->
    <button *ngIf="!spinnerSubmit" type="submit" class="btn btn-primary w-100">Submit</button>
    <button *ngIf="spinnerSubmit" class="btn btn-outline-dark w-100" disabled><mat-spinner class="custom-spinner"></mat-spinner></button>
</form>

<br>
<hr>
<div class="p-4 border rounded shadow-sm" *ngIf="falseDataCount || trueDataCount">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab [label]="'False Data (' + falseDataCount + ')'">
          <div *ngIf="falseData && falseData.length > 0">
            <app-table-pagination 
              [apiData]="falseData" 
              [dataCount]="falseDataCount" 
              [displayedColumns]="displayedColumns">
            </app-table-pagination>
          </div>
        </mat-tab>
      
        <mat-tab [label]="'True Data (' + trueDataCount + ')'">
          <div *ngIf="trueData && trueData.length > 0">
            <app-table-pagination 
              [apiData]="trueData" 
              [dataCount]="trueDataCount" 
              [displayedColumns]="displayedColumns">
            </app-table-pagination>
          </div>
        </mat-tab>
      </mat-tab-group>      
</div>
